:root {
  --white: #fff;
  --black: #000000;
  --gray-200: #858479;
  --yellow-200: #C5AF19;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--black);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.button {
  background-color: var(--yellow-200);
  margin-top: 2rem;
  border: 1px var(--yellow-200);
  border-radius: 5px;
  height: 48px;
  width: 23rem;
  color: var(--white);
}

.icon {
  margin-top: 1rem;
}

.title {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.iconsGroup {
  margin-top: 2rem;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

input {
  width: 368px;
  height: 40px;
  border: 1px;
  border-radius: 5px;
  padding-left: 1rem;
}

.input-form {
  margin-right: 6rem;
  margin-bottom: 1rem;
}

.titleForm {
  margin-bottom: 1rem;
}