.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  padding: 1.5rem;
}

.header img {
  height: 2rem;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    background-color: var(--black);
  }

  .logo {
    height: 2rem;
    display: flex;
    justify-content: center;
  }
}