.carousel-container {
  width: 1136px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
}

.carousel {
  display: flex;
  flex-direction: row;
  background-color: var(--white);
  height: 320px;
}

.img-hero {
  width: 480px;
  height: 320px;
}

.carousel-title {
  color: var(--black);
  padding: 2rem;
  font-family: "Lato", sans-serif;
  font-size: 28px;
}

.description {
  display: flex;
  justify-content: end;
  max-width: 480px;
}

.carousel-description {
  margin-left: 2rem;
  color: var(--gray-200);
  font-size: 16px;
}

.aling-carousel {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 400px;
}

.carousel-image {
  margin-top: 20px;
  padding-left: 10px;
}

.img-carousel {
  max-width: 150px;
  max-height: 80px;
}

.carousel-title-image {
  text-align: center;
  color: var(--black);
  font-size: 12px;
}

@media screen and (max-width: 768px) { 

  .carousel-mobile-container {
    width: 720px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
  }

  .mobile-description {
    display: flex;
    flex-direction: row;
    background-color: var(--black);
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  .mobile-aling-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .mobile-img-carousel {
    width: 140px;
    height: 109px;
    margin-right: 1rem;
  }

  .mobile-title {
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
    font-size: 28px;
  }

  .description {
    display: flex;
    justify-content: end;
    max-width: 480px;
  }

  .carousel-description {
    margin-left: 2rem;
    color: var(--gray-200);
    font-size: 16px;
  }

  .aling-carousel {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    max-width: 400px;
  }

  .carousel-image {
    margin-top: 20px;
    padding-left: 10px;
  }

  .img-carousel {
    max-width: 150px;
    max-height: 80px;
  }

  .carousel-title-image {
    text-align: center;
    color: var(--black);
    font-size: 12px;
  }
}