footer {
  padding: 20px;
  background-color: var(--black);
}

.terms {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;

}

.icons {
  display: flex;
  justify-content: space-evenly;
}

.border {
  border-bottom: 1px var(--gray-200);
  margin: 1rem;
}

.text-terms {
  text-decoration: none;
  color: var(--white);
}